.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  background-color: #27293d;
  border-style: none;
  color: white;
  font-size: x-large;
  width: 100%;
  text-align: center;
}
